*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# IntelliJ specific directory
.idea/

# Gradle properties and artifacts
.gradle

# build output directory
build
